@model Project.Models.Ticket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Flights</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        @*div {
            text-align: center;
        }*@

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        @*td {
            text-align: center;
            vertical-align: middle;
        }*@
    </style>

</head>

<body>
    @if (ViewBag.flight_num == -1)
    {
        ViewBag.flight_num = "";
    }

    <center>
        <h1>Book Flights</h1>
        @*@ViewBag.username*@
    </center>
    <div>
        @using (Html.BeginForm("BookFlight", "Home", new { username = ViewBag.username }, FormMethod.Post))

        {
            <table class="center">

                

                <tr>
                    <td><strong>Flight Number:</strong></td>
                    @*<td> @Html.TextBoxFor(ticket => ticket.flight_num) @Html.ValidationMessageFor(ticket => ticket.flight_num)</td>*@
                    <td>
                        <input type="number" readonly="readonly" value="@ViewBag.flight_num" name="flight_num" id="flight_num" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Number of Tickets:</strong></td>
                    <td> @Html.TextBoxFor(ticket => ticket.num_of_tickets) @Html.ValidationMessageFor(ticket => ticket.num_of_tickets)</td>

                </tr>
            </table>

            <br />

            <center>
                <input id="BookFlight" type="submit" value="Book Flight" />
            </center>


        }
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

</body>
</html>
