@model Project.Models.Ticket

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Book Flights</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        @*div {
            text-align: center;
        }*@

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        @*td {
            text-align: center;
            vertical-align: middle;
        }*@

        body {
            background: rgb(255, 255, 255, 0.3)
        }

        p {
            text-align: center;
        }
    </style>

</head>

<body>

    @if (ViewBag.flight_num == -1)
    {
        ViewBag.flight_num = "";
    }

    <center>
        <h1>Book Flights</h1>
        @*@ViewBag.username*@
    </center>
    <div>
        @using (Html.BeginForm("BookFlight", "Home", new { username = ViewBag.username }, FormMethod.Post))

        {
            <table class="center">



                <tr>
                    <td><strong>Flight Number:</strong></td>
                    @*<td> @Html.TextBoxFor(ticket => ticket.flight_num) @Html.ValidationMessageFor(ticket => ticket.flight_num)</td>*@
                    <td>
                        <input type="number" readonly="readonly" value="@ViewBag.flight_num" name="flight_num" id="flight_num" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Number of Tickets:</strong></td>
                    <td> @Html.TextBoxFor(ticket => ticket.num_of_tickets, new { @id = "textbox", @oninput = "updateLabel()" }) @Html.ValidationMessageFor(ticket => ticket.num_of_tickets)</td>
                </tr>

            </table>

            <center>
                <text>Price <b>per</b> ticket: @ViewBag.price$</text><br />
                <label for="textbox">Total Price: 0$</label>
            </center>

            <script>
                function updateLabel() {
                    var textbox = document.getElementById("textbox");
                    var label = document.querySelector("label[for='textbox']");
                    label.textContent = "Total Price: " + textbox.value*@ViewBag.price + "$";
                }
            </script>


            @* ------------------------  Credit Card Details:  ------------------------ *@

            <br />
            <p>
                Please enter your <u>credit card</u> details below:
            </p>

            <table class="center">
                <tr>
                    <td><strong>Credit Card Number:</strong></td>
                    <td>
                        <input type="text" name="credit_num" id="credit_num" />
                    </td>
                </tr>
                <tr>
                    <td><strong>CVC:</strong></td>
                    <td>
                        <input type="password" name="cvc" id="cvc" />
                    </td>
                </tr>
                <tr>
                    <td><strong>Full Name:</strong></td>
                    <td>
                        <input type="text" name="full_name" id="full_name" />
                    </td>
                </tr>
                <tr>
                    <td><strong>ID Number:</strong></td>
                    <td>
                        <input type="text" name="ID" id="ID" />
                    </td>
                </tr>
            </table>

            <br />

            <center>
                <input id="BookFlight" type="submit" value="Book Flight" />
            </center>


        }
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

</body>
</html>
