@model Project.Models.User 

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        body {
            background-image: url('../../images/plane_background.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }

        div {
            text-align: center;
            background: rgb(255, 255, 255, 0.3)
        }

        .center {
            margin-left: auto;
            margin-right: auto;
        }

        td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div>
        <center>
            <h1>Register</h1>
        </center>
        @using (Html.BeginForm("Submit", "Home", FormMethod.Post))

        {
            <table class="center">
                <tr>
                    <td><strong>Username:</strong></td>
                    <td> @Html.TextBoxFor(user => user.username) @Html.ValidationMessageFor(user => user.username)</td>
                </tr>
                <tr>
                    <td><strong>Password:</strong></td>
                    <td> @Html.PasswordFor(user => user.password) @Html.ValidationMessageFor(user => user.password)</td>
                </tr>
            </table>

            <br />

            <center>
                <input id="Submit" type="submit" value="Register" />
            </center>


        }
    </div>

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

    <br /><br />
    <center><a href="/">Go back</a></center>

</body>
</html>
