@model IEnumerable<Project.Models.Flight>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showflights</title>
</head>
<body>

    <center>
        <h1>Show Flights</h1>
        @*@ViewBag.username*@
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.flight_num)
                </th>
                <th>
                    @Html.ActionLink("price", "OrderUserFlights", new { sort = ViewBag.PriceSortParm, username = @ViewBag.username })
                </th>
                <th>
                    @Html.ActionLink("destination_country", "OrderUserFlights", new { sort = ViewBag.D_C_SortParm , username = @ViewBag.username})
                </th>
                <th>
                    @Html.ActionLink("origin_country", "OrderUserFlights", new { sort = ViewBag.O_C_SortParm, username = @ViewBag.username })
                </th>
                <th>
                    @Html.ActionLink("date_time", "OrderUserFlights", new { sort = ViewBag.DateSortParm, username = @ViewBag.username })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.num_of_seats)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.flight_num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.destination_country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.origin_country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_of_seats)
                    </td>
                    <td>
                        @Html.ActionLink("Book Flight", "BookFlights", new { id = item.flight_num, username = @ViewBag.username })
                    </td>
                </tr>
            }

        </table>

        @*<p>
            @Html.ActionLink("Create New", "AddFlights")
        </p>*@

    </center>
</body>
</html>
