@model IEnumerable<Project.Models.Flight>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showflights</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="nofollow" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

    <style>
        tr:nth-child(even) {
            background-color: #dfebf6;
        }

        tr:nth-child(odd) {
            background-color: white;
        }

        td {
            /*text-align: center;*/
            padding-left: 50px;
            padding-right: 50px;
        }

        tr, td {
            text-align: center;
        }

        body {
            background: rgb(255, 255, 255, 0.3)
        }
    </style>

</head>
<body>

    <center>
        <h1>Show Flights</h1>

        <table class="table" border="0">
            <tr style="background-color: #669dd2">
                <th>
                    @*@Html.DisplayNameFor(model => model.flight_num)*@
                    <text style="color:white">Flight Number</text>
                </th>
                <th>
                    @Html.ActionLink("Price", "OrderAdminFlights", new { sort = ViewBag.PriceSortParm }, new { style = "text-decoration:none; color:white;" })
                </th>
                <th>
                    @Html.ActionLink("Destination Country", "OrderAdminFlights", new { sort = ViewBag.D_C_SortParm }, new { style = "text-decoration:none; color:white;" })
                </th>
                <th>
                    @Html.ActionLink("Origin Country", "OrderAdminFlights", new { sort = ViewBag.O_C_SortParm }, new { style = "text-decoration:none; color:white;" })
                </th>
                <th>
                    @Html.ActionLink("Date Time", "OrderAdminFlights", new { sort = ViewBag.DateSortParm }, new { style = "text-decoration:none; color:white;" })
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.num_of_seats)*@
                    <text style="color:white">Number of Seats</text>
                </th>
                <th>
                    <text style="color:white">Change</text>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.flight_num)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.destination_country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.origin_country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.date_time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.num_of_seats)
                    </td>
                    <td>
                        @*@Html.ActionLink("Edit", "EditFlights", new { id = item.flight_num }, new { flight_num = ViewBag.flight }) |*@
                        @Html.ActionLink("Edit", "EditFlights", new { id = item.flight_num, flight_num = ViewBag.flight }, new { style = "text-decoration:none; color:blue;" }) |
                        @*@Html.ActionLink("Remove", "RemoveFlights", new { id = item.flight_num }, new { flight_num = ViewBag.flight })*@
                        @Html.ActionLink("Remove", "RemoveFlights", new { id = item.flight_num, flight_num = ViewBag.flight }, new { style = "text-decoration:none; color:blue;" })
                    </td>
                </tr>
            }

        </table>

        @*<p>
            @Html.ActionLink("Create New", "AddFlights")
        </p>*@

    </center>
</body>
</html>
